# Dependencies
node_modules
.pnpm-store
.pnpm-debug.log*

# Next.js & Build Outputs
.next/
out/
/build/
/dist/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.pytest_cache/
*.sqlite3
*.db
uploads/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & OS
.DS_Store
*.swp
.idea/
.vscode/
